<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="browser" value="IE"/>-->
    <!--<add key="browser" value="chrome"/>-->
    <!--<add key="browser" value="phantomJS"/>-->
    <add key="browser" value="chrome"/>
    <add key="URL" value="http://ec2-54-208-152-154.compute-1.amazonaws.com/"/>
  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
